<p>Your {{ frequency }} subscription for {{ city }} was created:)</p>
<p>Please click below to confirm your subscription.</p>
<p>
    <a href="{{ urlConfirm }}">Confirm</a>
</p>

<p>You can unsubscribe from this subscription in any time by clicking link below.</p>
<p>
    <a href="{{ urlUnsubscribe }}">Unsubscribe</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>